
<div class="text-center text-dark h5" style="border-radius: 30%;"> <span class="bg-info"><%= title %></span></div>

<div class="mt-5 container">
    <table class="mt-2 table table-striped table-bordered table-sm text-center">
        <thead class="thead-info">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>View</th>
                <th>ID_DanhMuc</th>
                <th>CreateAt</th>
                <th>UpdateAt</th>
                <th>Status</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <%#var x= 0;%>
            <% posts.forEach( (element, x=0 )=> { %>
              
                <%if(x>=10) {%>
                <%# trong foreach không thể dùng for in, break mà phải dùng return để dừng foreach%>
                <tr>
                    <td><%=element.Id%></td>
                    <td><%=element.Title%></td>
                    <td><%= element.Description %></td>
                    <td><%= element.Author %></td>
                    <td><%= element.View %></td>
                    <td><%= element.ID_DM %></td>
                    <td><%=formatTime(element.CreateAt).format('LLL')%></td>
                    <td><%= formatTime(element.UpdateeAt).format('LLL') %></td>
                    <%if(element.Status ==1) {%>
                        <td><a href="news/active/<%=element.Id%>">Active</a></td>
                    <%} else {%>
                        <td><a href="news/active/<%=element.Id%>">No Active</a></td>
                    <%}%>
                    <td>
                        <form action="news/update/<%=element.Id%>">
                            <input type="text" name="<%=element.Id%>" hidden>
                            <button class="btn-group btn-info" type="submit">Update</button>
                        </form>
                    </td>
                    <td>
                        <a href="news/delete/<%=element.Id%>">Delete</a>
                        <form action="news/update/<%=element.Id%>">
                            <input type="text" name="<%=element.Id%>" hidden>
                            <button class="btn-group btn-info" type="submit">Update</button>
                        </form>
                    </td>
                </tr>
                <%}%>
                <% x = x+1 %>
                <%# sau mỗi vòng lặp sẽ tăng biến x lên 1 đơn vị, đến 10 thì thoát vòng lặp%>
            <% });  %>
        </tbody>
    </table>
    <div class="container col-sm-12 mt-3 mb-5" style="position:relative">
        <div class="row">
            <div class="col-md-5">
                <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">
                    Showing 1 to 10 of <%= posts.length %> entries
                </div>
            </div>
            <div class="col-md-7" >
                <div class="dataTables_paginate paging_simple_numbers  position" id="datatable_paginate" >
                    <ul class="pagination" style="position: absolute; right: 0;">
                        <li class="paginate_button page-item previous disabled" id="datatable_previous">
                            <a href="#" aria-controls="datatable" data-dt-idx="0" tabindex="" class="page-link">Previous</a>
                        </li>
                        <li class="paginate_button page-item ">
                            <a href="news/" aria-controls="datatable" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                        </li>
                        <%var i=2; %>
                        <% for (; i<=sotrang; i++) {%>
                            <li class="paginate_button page-item active ">
                                <a href="news/page/<%=i%>" aria-controls="datatable" data-dt-idx="<%=i%>" tabindex="" class="page-link"><%=i%></a>
                            </li>
                        <%}%>
                        <li class="paginate_button page-item next" id="datatable_next">
                            <a href="news/page/<%=(i+1)%>" aria-controls="datatable" data-dt-idx="<%=(sotrang+1)%>" tabindex="" class="page-link">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>