<!DOCTYPE html>
<html>
<head>
    <title>
        <%= locals.title %>
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font.css">
    <link rel="stylesheet" type="text/css" href="assets/css/li-scroller.css">
    <link rel="stylesheet" type="text/css" href="assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="assets/css/theme.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/themify-icons/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- CSS -->
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/signup.css">
    <link rel="stylesheet" href="css/header.css">
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="images/NTN.png">
</head>
<body>
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>

<div class="container">


    <%- body %>

    <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-contact">
                    <div class="w-50">
                        <h5 class="modal-title" id="contactModalLabel">New message</h5>
                    </div>
                    <div class="w-50">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <form method="post" action="/contactModal">
                        <div class="form-group">
                            <label for="title" class="col-form-label">Title:</label>
                            <input type="text" class="form-control" id="title" placeholder="Enter Title" name="title">
                            <%if (errors && errors.title) {%>
                                <span class="text-danger"><%= errors.title.msg %></span>
                            <%}%>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
                            <%if (errors && errors.name) {%>
                                <span class="text-danger"><%= errors.name.msg %></span>
                            <%}%>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-form-label">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                            <%if (errors && errors.email) {%>
                                <span class="text-danger"><%= errors.email.msg %></span>
                            <%}%>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-form-label">Phone:</label>
                            <input type="number" class="form-control" id="phone" placeholder="Enter phone" name="phone">
                            <%if (errors && errors.phone) {%>
                                <span class="text-danger"><%= errors.phone.msg %></span>
                            <%}%>
                        </div>
                        <div class="form-group">
                            <label for="content" class="col-form-label">Content:</label>
                            <textarea class="form-control" rows="5" id="content" name="content"></textarea>
                            <%if (errors && errors.content) {%>
                                <span class="text-danger"><%= errors.content.msg %></span>
                            <%}%>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary header-modal-button">Send message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/jquery.li-scroller.1.0.js"></script>
<script src="assets/js/jquery.newsTicker.min.js"></script>
<script src="assets/js/jquery.fancybox.pack.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>