
<%- include('../partials/header.ejs'); %>

<%- include('../partials/navbar.ejs'); %>

<%- include('../partials/newSection.ejs'); %>

<section id="sliderSection">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="slick_slider">
                <% postNews.forEach(item => { %>
                    <div class="single_iteam"> <a href="/detailPosts?page=<%=item.Id%>"> <img src="images/<%= item.FileName %>" style="object-fit: cover;" alt=""></a>
                        <div class="slider_article">
                            <h2><a class="slider_tittle" href="/detailPosts?page=<%=item.Id%>"><%= item.title %></a></h2>
                            <p><%= item.description %></p>
                            <p>View: <%= item.view %></p>
                        </div>
                    </div> 
                <% })%>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="latest_post">
                <h2><span>Latest post</span></h2>
                <div class="latest_post_container">
                    <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
                    <ul class="latest_postnav">
                        <% latestPost.forEach(item => { %>
                            <li>
                                <div class="media"> <a href="/detailPosts?page=<%=item.Id%>" class="media-left"> <img alt="" src="images/<%= item.FileName %>" style="object-fit: cover;"> </a>
                                    <div class="media-body"> <a href="/detailPosts?page=<%=item.Id%>" class="catg_title"> <h4><%= item.title %> </h4></a> 
                                        <p>View: <%= item.view %></p>
                                    </div>
                                </div>
                            </li>
                        <% }) %>
                    </ul>
                    <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contentSection">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="left_content">
                <div class="single_post_content">
                    <h2 id="sport"><span>Sport</span></h2>
                    <div class="single_post_content_left">
                        <ul class="business_catgnav  wow fadeInDown">
                            <% sportMostViews.forEach(item => { %>
                            <li>
                                <figure class="bsbig_fig"> <a href="/detailPosts?page=<%=item.Id%>" class="featured_img"> <img alt="" src="images/<%= item.FileName %>" style="object-fit: cover;"> <span class="overlay"></span> </a>
                                    <figcaption> <a href="/detailPosts?page=<%=item.Id%>"><%= item.title %></a> </figcaption>
                                    <p><%= item.description %> 
                                        <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, sed. Quam molestiae illum similique quae aliquam illo magnam at nostrum quasi!
                                    </p>
                                </figure>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                    <div class="single_post_content_right">
                        <ul class="spost_nav">
                            <% sports.forEach(item => { %>
                                <li>
                                    <div class="media wow fadeInDown"> <a href="/detailPosts?page=<%=item.Id%>" class="media-left"> <img alt="" src="images/<%= item.FileName %>" style="object-fit: cover;"> </a>
                                        <div class="media-body"> <a href="/detailPosts?page=<%=item.Id%>" class="catg_title"> <%= item.title %> </a> 
                                            <p>View: <%= item.view %> </p>
                                        </div>
                                    </div>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                <div class="fashion_technology_area">
                    <div class="fashion">
                        <div class="single_post_content">
                            <h2 id="weather"><span>weather</span></h2>
                            <ul class="business_catgnav wow fadeInDown">
                                <% weatherMostViews.forEach(item => { %>
                                <li>
                                    <figure class="bsbig_fig"> <a href="/detailPosts?page=<%=item.Id%>" class="featured_img"> <img alt="" src="images/<%= item.FileName %>" style="object-fit: cover;"> <span class="overlay"></span> </a>
                                        <figcaption> <a href="/detailPosts?page=<%=item.Id%>"><%= item.title %></a> </figcaption>
                                        <p><%= item.description%>
                                            <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, sed. Quam molestiae illum similique quae aliquam illo magnam at nostrum quasi!
                                        </p>
                                    </figure>
                                </li>
                                <% }) %>
                            </ul>
                            <ul class="spost_nav">
                                <% weather.forEach(item => { %>
                                <li>
                                    <div class="media wow fadeInDown"> <a href="/detailPosts?page=<%=item.Id%>" class="media-left"> <img alt="" src="images/<%= item.FileName %>" style="object-fit: cover;"> </a>
                                        <div class="media-body"> <a href="/detailPosts?page=<%=item.Id%>" class="catg_title"> <%= item.title %></a>
                                            <p>View: <%= item.view %> </p> 
                                        </div>
                                    </div>
                                </li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                    <div class="technology">
                        <div class="single_post_content">
                            <h2 id="food"><span>food</span></h2>
                            <ul class="business_catgnav">
                                <% foodsMostViews.forEach(item => { %>
                                <li>
                                    <figure class="bsbig_fig wow fadeInDown"> <a href="/detailPosts?page=<%=item.Id%>" class="featured_img"> <img alt="" src="images/<%= item.FileName %>" style="object-fit: cover;"> <span class="overlay"></span> </a>
                                        <figcaption> <a href="/detailPosts?page=<%=item.Id%>"><%= item.title %></a> </figcaption>
                                        <p>
                                            <%= item.description %> <br>
                                            Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...
                                        </p>
                                    </figure>
                                </li>
                                <% }) %>
                            </ul>
                            <ul class="spost_nav">
                                <% food.forEach(item => { %>
                                    <li>
                                        <div class="media wow fadeInDown"> <a href="/detailPosts?page=<%=item.Id%>" class="media-left"> <img alt="" src="images/<%= item.FileName %>" style="object-fit: cover;"> </a>
                                            <div class="media-body"> <a href="/detailPosts?page=<%=item.Id%>" class="catg_title"> <%= item.title %></a>
                                                <p>View: <%= item.view %> </p> 
                                            </div>
                                        </div>
                                    </li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single_post_content">
                    <h2 id="music"><span>music</span></h2>
                    <div class="single_post_content_left">
                        <ul class="business_catgnav">
                            <% musicMostViews.forEach(item => { %>
                            <li>
                                <figure class="bsbig_fig  wow fadeInDown"> <a class="featured_img" href="/detailPosts?page=<%=item.Id%>"> <img src="images/<%= item.FileName %>" style="object-fit: cover;" alt=""> <span class="overlay"></span> </a>
                                    <figcaption> <a href="/detailPosts?page=<%=item.Id%>"><%= item.title %></a> </figcaption>
                                    <p>
                                        <%= item.description %> <br>
                                        Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...
                                    </p>
                                </figure>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                    <div class="single_post_content_right">
                        <ul class="spost_nav">
                            <% music.forEach(item => { %>
                            <li>
                                <div class="media wow fadeInDown"> <a href="/detailPosts?page=<%=item.Id%>" class="media-left"> <img alt="" src="images/<%= item.FileName %>" style="object-fit: cover;"> </a>
                                    <div class="media-body"> <a href="/detailPosts?page=<%=item.Id%>" class="catg_title"> <%= item.title %></a> 
                                        <p>View: <%= item.view %> </p> 
                                    </div>
                                </div>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                <div class="single_post_content">
                    <h2 id="movie"><span>movie</span></h2>
                    <div class="single_post_content_left">
                        <ul class="business_catgnav">
                            <% movieMostViews.forEach(item => { %>
                            <li>
                                <figure class="bsbig_fig  wow fadeInDown"> <a class="featured_img" href="/detailPosts?page=<%=item.Id%>"> <img src="images/<%= item.FileName %>" style="object-fit: cover;" alt=""> <span class="overlay"></span> </a>
                                    <figcaption> <a href="/detailPosts?page=<%=item.Id%>"><%= item.title %></a> </figcaption>
                                    <p>
                                        <%= item.description %> <br>
                                        Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...
                                    </p>
                                </figure>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                    <div class="single_post_content_right">
                        <ul class="spost_nav">
                            <% movie.forEach(item => { %>
                            <li>
                                <div class="media wow fadeInDown"> <a href="/detailPosts?page=<%=item.Id%>" class="media-left"> <img alt="" src="images/<%= item.FileName %>" style="object-fit: cover;"> </a>
                                    <div class="media-body"> <a href="/detailPosts?page=<%=item.Id%>" class="catg_title"> <%= item.title %></a> 
                                        <p>View: <%= item.view %> </p> 
                                    </div>
                                </div>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                <div class="single_post_content">
                    <h2 id="actor"><span>actor</span></h2>
                    <div class="single_post_content_left">
                        <ul class="business_catgnav">
                            <% actorMostViews.forEach(item => { %>
                            <li>
                                <figure class="bsbig_fig  wow fadeInDown"> <a class="featured_img" href="/detailPosts?page=<%=item.Id%>"> <img src="images/<%= item.FileName %>" style="object-fit: cover;" alt=""> <span class="overlay"></span> </a>
                                    <figcaption> <a href="/detailPosts?page=<%=item.Id%>"><%= item.title %></a> </figcaption>
                                    <p>
                                        <%= item.description %> <br>
                                        Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...
                                    </p>
                                </figure>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                    <div class="single_post_content_right">
                        <ul class="spost_nav">
                            <% actor.forEach(item => { %>
                            <li>
                                <div class="media wow fadeInDown"> <a href="/detailPosts?page=<%=item.Id%>" class="media-left"> <img alt="" src="images/<%= item.FileName %>" style="object-fit: cover;"> </a>
                                    <div class="media-body"> <a href="/detailPosts?page=<%=item.Id%>" class="catg_title"> <%= item.title %></a> 
                                        <p>View: <%= item.view %> </p> 
                                    </div>
                                </div>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                <div class="single_post_content">
                    <h2><span>Photography</span></h2>
                    <ul class="photograph_nav  wow fadeInDown">
                        <% Photography.forEach(item => { %>
                        <li>
                            <div class="photo_grid">
                                <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="images/<%= item.FileName %>" style="object-fit: cover;" title="<%= item.title%>"> <img src="images/<%= item.FileName %>" style="object-fit: cover;" alt=""/></a> </figure>
                            </div>
                        </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
             <%- include('../partials/single_sidebar.ejs') %>
        </div>
    </div>
</section>

<%- include('../partials/footer.ejs') %>