


<%- include('../partials/header.ejs'); %>

<%- include('../partials/navbar.ejs'); %>

<div class="row ng-scope">
    <div class="col-md-3 col-md-push-9">
        <h4>Results <span class="fw-semi-bold">Filtering</span></h4>
        <p class="text-muted fs-mini">Listed content is categorized by the following groups:</p>
        <ul class="nav nav-pills nav-stacked search-result-categories mt">
            <li><a style="color: black" href="/search?search=<%= query %>&page=<%= currentPage %>&filter=catetory">Category</a></li>
            <li><a style="color: black" href="/search?search=<%= query %>&page=<%= currentPage %>&filter=createAt">New News</a></li>
        </ul>
    </div>
    <div class="col-md-9 col-md-pull-3">
        <p class="search-results-count">About <%= Data.length %> results</p>
        <% if(Data.length === 0 ) {%>
                <p>Not found News</p>
        <%} else {%>
        <% Data.forEach((item) => {%>
        <section class="search-result-item">
                <a class="image-link" href="/"><img class="image" src="images/<%= item.fileName %>" alt="<%= item.fileName%>" width="100%">
                </a>
            <div class="search-result-item-body">
                <div class="row">
                        <h5 class="search-result-item-heading"><%= item.name  %> - <%= dated(item.createAt)%></h5>
                        <a class="info search-result-item-title" href="news/<%= item.id %>"><%= item.title %></a>
                        <p class="description"><%= item.description %></p>
                </div>
            </div>
        </section>
        <%})} %>
        <div class="text-align-center">
            <ul class="pagination pagination-sm">
                <% if(totalPages > 0) { %>
                    <ul class="pagination pagination-sm">
                        <li class="<%= currentPage <= 1 ? 'disabled' : '' %>"><a href="/search?search=<%= query %>&page=<%= currentPage - 1 %>">Prev</a></li>
                        <% for(let i = 0; i < totalPages; i++) { %>
                            <li class="<%= currentPage == i ? 'active' : '' %>"><a href="/search?search=<%= query %>&page=<%= i %>"><%= i %></a></li>
                        <% } %>
                        <li class="<%= currentPage >= totalPages ? 'disabled' : '' %>"><a href="/search?search=<%= query %>&page=<%= currentPage+1 %>">Next</a></li>
                    </ul>
                <% } %>
            </ul>
        </div>
    </div>
</div>


<%- include('../partials/footer.ejs') %>